#footer
  background: $footerblue
  a
    font-family: $headline-font
    color: white
    text-decoration: none
    &:hover
      color: $brightblue
  color: white
  padding-bottom: 32px
  .footer
    +grid-system(16)
    .content
      padding-top: 30px
      padding-bottom: 10px
      h3
        font-weight: 700
        font-size: 18px
        color: white
        padding-bottom: 16px
      .info
        +grid(4)
        ul
          li
            margin-bottom: 24px
            a
              font-size: 18px
            
      .opendata
        +grid(6)
        margin-top: -10px
        ul
          display: block
          li
            width: 100%
            float: left
            margin-bottom: 12px
            img
              margin-right: 8px
            .fb-like-box
              margin-top: 10px
              margin-left: -10px
            h5
              float: left
              font-weight: 700
              font-size: 20px
              color: white
              padding-right: 10px
            p
              padding-top: 3px
              float: left
              text-transform: uppercase
              font-size: 16px
              color: white
              +opacity(0.5)

      .social
        +grid(6)
        h3
        .twitter
          margin-bottom: 20px
        form
          input[type="text"]
            float: left
            width: 170px
            height: 28px
            padding-left: 8px
            +border-radius(4px 0 0 4px)
            border: 1px $df_gryn solid
            border-right: none
            &:focus
              outline: none
              border: 1px $carrot solid
              border-right: none
          input[type="submit"]
            float: left
            background: $carrot
            width: 82px
            height: 32px
            +border-radius(0 4px 4px 0)
            color: white
            font-size: 12px
            text-transform: lowercase
            border: none
            +transition(all, 0.5s)
            &:hover
              background: $darkcarrot
            &:active
              +box-shadow(rgba(black, 0.5) 0 0 5px inset)
        .posts
          padding-bottom: 8px
          p
            padding-bottom: 16px
            font-size: 12px
          .author
            color: $brightblue
            padding-top: 4px
#credits
  background: $creditsblue
  padding: 36px 0 20px 0
  margin-bottom: -20px
  .content
    +grid-system(16)
    text-align: right
    +clearfix
    a
      +grid(3)
      +grid-prefix(13)
      +omega
      img
        width: 100%