[data-namespace="null"][data-controller="projects"][data-action="index"]
  .channel_banner
    +grid-container
    +grid-system(16)
    overflow: hidden
    padding-top: 20px
    margin-bottom: 20px
    .center_content
      +grid(16)
    .text
      width: 50%
      float: left
      h1
        font-size: 2.2em
        font-weight: bold
        margin: 2em 0 0.5em 0
      span
        font-size: 1.3em
        line-height: 1.5
      .know_more_button
        display: block
        padding: .4em 0
        width: 147px
        margin-top: 1.8em
    .picture
      text-align: right
      width: 50%
      float: left
  
  #page_content
    .explore_link
      padding-top: 20px
      padding-bottom: 30px
      float: left
      hr
        +grid(8)
        border: none
        border-bottom: 1px rgba(black, 0.1) solid
        +omega
        padding-top: 2px
      a
        +grid(4)
        +omega
        font-size: 14px
        color: $pink
        text-decoration: none
        &:hover
          color: $green
    .clear_link
      float: left
      hr
        +grid(16)
        +alpha
        +omega
        border: 1px solid transparent