- backer = @notification.backer
-if backer.reward.present?
  - reward = t('notifications.reward_html', description: backer.reward.description)
-else
  - reward = t('notifications.no_reward_html')
= t('notifications.backer_project_successful.text_html', user_name: backer.user.name, project_link: link_to(backer.project.name, "#{Configuration[:base_url]}/projects/#{backer.project.to_param}"), total_backers: backer.project.total_backers, pledged: backer.project.display_pledged, progress: backer.project.progress, project_url: project_by_slug_url(permalink: backer.project.permalink), project_name_escaped: URI::escape(backer.project.name), backer_value: backer.display_value, reward: reward, backer_created_at: l(backer.created_at), backer_id: backer.id, project_user: backer.project.user.name, project_mail: mail_to(backer.project.user.email))
= render "email_footer"
