- backer = @notification.backer

- recommended_text = ""
- backer.user.recommended_projects(3).each do |project|
  - recommended_text += "#{link_to(project.name, "#{Configuration[:base_url]}/projects/#{project.to_param}")}<br/>#{project.headline}<br/><br/>"

= t('notifications.backer_project_unsuccessful.text_html', user_name: backer.user.name, project_link: link_to(backer.project.name, "#{Configuration[:base_url]}/projects/#{backer.project.to_param}"), backer_value: backer.display_value, category: backer.project.category, category_link: link_to("#{Configuration[:base_url]}/explore##{backer.project.category.to_s.parameterize}", "#{Configuration[:base_url]}/explore##{backer.project.category.to_s.parameterize}"), recommended_text: recommended_text.html_safe, credits_link: link_to("aqui", "#{Configuration[:base_url]}/users/#{backer.user.to_param}#credits"), backer_id: backer.id, project_user: backer.project.user.display_name, project_mail: mail_to(backer.project.user.email))

= render "email_footer"
