- backer = @notification.backer
= t('notifications.backer_confirmed_after_project_was_closed.text_html', project_name: backer.project.name, key: backer.key, created_at: backer.created_at, confirmed_at: backer.confirmed_at)

