- backer = @notification.backer

- recommended_text = ""
- backer.user.recommended_projects(3).each do |project|
  - recommended_text += "#{link_to(project.name, "#{Configuration[:base_url]}/projects/#{project.to_param}")}<br/>#{project.headline}<br/><br/>"

= t('notifications.credits_warning.text_html', user: backer.user.display_name, credits: backer.user.credits, recommended: recommended_text.html_safe, explore_url: explore_url, credits_url: "#{Configuration[:base_url]}/users/#{backer.user.to_param}#credits")

= render "email_footer"
