- project = @notification.project
= t('notifications.new_draft_project_channel.text_html', user_link: link_to(project.user.name, user_url(project.user)), user_mail: mail_to(project.user.email), project_name: project.name, goal: project.display_goal, more_links: simple_format(project.more_links), first_backers: simple_format(project.first_backers), how_know: simple_format(project.how_know), project_url: project_by_slug_url(permalink: project.permalink))

h3= t('formtastic.labels.project.permalink')
p= project.permalink
h3= t('formtastic.labels.project.name')
p= project.name
h3= t('formtastic.labels.project.about')
p= project.about_html.html_safe
h3= t('formtastic.labels.project.history')
p= project.history_html.html_safe
h3= t('formtastic.labels.project.cause')
p= project.cause_html.html_safe
h3= t('formtastic.labels.project.description')
p= project.description_html.html_safe
h3= t('formtastic.labels.project.impact')
p= project.impact_html.html_safe
h3= t('formtastic.labels.project.goal')
p= project.goal
h3= t('formtastic.labels.project.budget')
p= project.budget_html.html_safe
h3= t('formtastic.labels.project.implementation')
p= project.implementation_html.html_safe
h3= t('formtastic.labels.project.online_days')
p= project.online_days
h3= t('formtastic.labels.project.category')
p= project.category
h3= t('formtastic.labels.project.headline')
p= project.headline
h3= t('formtastic.labels.project.video_url')
p= project.video_url
h3= t('formtastic.labels.project.more_links')
p= project.more_links
h3= t('formtastic.labels.project.first_backers')
p= project.first_backers
h3= t('formtastic.labels.project.how_know')
p= project.how_know
