- backer = @notification.backer

= t('notifications.pending_backer_project_unsuccessful.text_html', backer_name: backer.user.name, project_link: link_to(backer.project.name, "#{Configuration[:base_url]}/projects/#{backer.project.to_param}"), value: backer.display_value, credits_link: link_to("aqui", "#{Configuration[:base_url]}/users/#{backer.user.to_param}#credits"), payments_mail: mail_to(Configuration[:email_payments]), backer_id: backer.id, terms_link: link_to("Termos de Uso do #{Configuration[:company_name]}","#{Configuration[:base_url]}/terms"), project_user: backer.project.user.display_name, project_mail: mail_to(backer.project.user.email))

= render "email_footer"
