-backer = @notification.backer
= t('notifications.processing_payment.text_html', name: backer.user.display_name, project: backer.project.name, method: backer.payment_method, id: backer.id)
= render "email_footer"
