- project = @notification.project
= t('notifications.project_visible.text_html', name: project.user.display_name, link: link_to(project.name, project_by_slug_url(project.permalink)), knowledge_base: link_to("#{Configuration[:support_forum]}/knowledgebase", "#{Configuration[:support_forum]}/knowledgebase"), support: link_to(Configuration[:support_forum], Configuration[:support_forum]))
= render "email_footer"