- project = @notification.project

= t('notifications.project_unsuccessful.text_html', project_user: project.user.display_name, projects_mail: mail_to(Configuration[:email_projects]), contact_mail: mail_to(Configuration[:email_contact]))
