- user = @notification.user
= t('notifications.project_rejected.text_html', name: user.name, email: mail_to(Configuration[:email_projects]), facebook: link_to('Facebook', Configuration[:facebook_url]), twitter: link_to('Twitter', "http://twitter.com/#{Configuration[:twitter_username]}"), blog: link_to('blog', Configuration[:blog_url]))
= render "email_footer"