- @user = @notification.user
|#{t('users_mailer.notification_email.hello')}, #{@user.name}!
br
br
= t('notifications.temporary_password.text_html', email: @user.email, password: @notification.mail_params[:password], link: link_to(t('click_here').downcase, user_url(@user, anchor:'settings')))

